.button {
  display: block;
  padding: 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Open Sans", "Geneva", sans-serif;
  text-align: center;
  color: $base-color;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $background-color;
  border: 2px $base-color solid;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  &:hover {
    color: $another-title-color;

    background-color: $base-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    color: $another-title-color;

    background-color: $base-color;
    outline: 2px solid #63d1bb;
  }

  &:disabled {
    color: #ececec;

    background-color: #c7c7c7;
    border-color: #c7c7c7;

    pointer-events: none;
  }

  &--disabled {
    color: #ececec;

    background-color: #c7c7c7;
    border-color: #c7c7c7;

    pointer-events: none;
  }
}
