.catalog__list {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;

  gap: 29px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-bottom: 53px;

    gap: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 127px;
    padding-bottom: 56px;

    gap: 51px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  max-width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 100%;
    max-width: 668px;

    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: none;
    grid-template-rows: 462px 1fr;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__item-desc {
  margin: 0;
  margin-top: 6px;
  padding-bottom: 18px;

  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
  }
}

.catalog__image {
  display: block;
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 28px;

  border: $border-classic;

  @media (min-width: $tablet-width) {
    padding: 26px 33px 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 32px 24px 27px;
  }
}

.catalog__link {
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

  border-top: $border-classic;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
  }
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog__cart-button {
  padding: 0;

  color: $title-color;

  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.2;

  &:hover {
    color: $second-color;

    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  &--disabled {
    opacity: 0.1;
  }
}

.catalog__cart-button svg {
  fill: currentColor;
}
