.contacts__wrapper {
  display: flex;
  flex-direction: column;
  padding: 38px 0 39px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    padding-top: 22px;
    padding-bottom: 57px;

    background-image: url("../img/svg/flag.svg");
    background-repeat: no-repeat;
    background-position: top right 52px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin: 0 auto;
    padding: 71px 50px 105px 225px;

    background-position: top 132px left 113px;

    grid-template-columns: 1fr 527px;
  }
}

.contacts__text {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 79px 50px 0 0;
  }
}

.contacts__list {
  display: grid;
  margin: 0;
  margin-top: 28px;

  grid-template-columns: 76px 1fr;

  @media (min-width: $tablet-width) {
    margin-top: 50px;

    grid-template-columns: 77px 1fr 78px 1fr;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;

    grid-template-columns: 77px 1fr;
    row-gap: 30px;
  }
}

.contacts__item {
  margin: 0;
  padding-bottom: 30px;

  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    font-size: 17px;
  }
}

.contacts__item--email a {
  color: $base-color;
  text-decoration: underline #62d1ba solid;

  text-underline-offset: 6px;

  @media (min-width: $tablet-width) {
    text-underline-offset: 8px;
  }

  @media (min-width: $desktop-width) {
    text-underline-offset: 11px;
  }

  &:hover,
  &:focus {
    color: #46c1ae;

    outline: none;

    text-decoration-color: #46c1ae;
  }

  &:active {
    text-decoration-color: rgba(70, 193, 174, 0.1);
  }
}

.contacts__map {
  width: 100%;
  height: 454px;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    height: 457px;
    margin-top: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;

    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.contacts__iframe {
  height: 100%;
}

.contacts__iframe iframe {
  width: 100%;
  height: 100%;

  border: 0;
}

.nojs .contacts__iframe {
  display: none;
}

.contacts__button {
  order: 1;
  margin: 42px 30px 0;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 55px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: auto;
  }
}

.contacts__map-image {
  display: none;
}

.nojs .contacts__map-image {
  position: relative;

  display: block;
  width: 320px;
  height: 454px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
