.first-screen {
  background-color: $footer-color;

  &--home {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -24px;
    background-color: #f9f9f9;

    @media (min-width: $tablet-width) {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position-y: -47px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position-y: 25px;
    }
  }
}

.first-screen__title {
  margin: 0 auto;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 75px;

  &--home {
    max-width: 300px;
    padding: 73px 0;

    @media (min-width: $tablet-width) {
      max-width: 520px;
      padding: 109px 0;
    }
  }
}

.first-screen__buttons {
  display: flex;
  flex-direction: column;
  margin: 0 -30px;
  margin-top: 47px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 0;
    margin-top: 263px;
  }

  &-item {
    box-sizing: border-box;
    padding: 24px 36px 31px 30px;

    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $another-title-color;
    text-decoration: none;

    @media (min-width: $tablet-width) {
      flex: 1;
      font-size: 20px;
      line-height: 30px;
      padding: 25px 36px 34px 36px;
    }

    &--interior {
      background-color: $second-color;
      display: flex;
    }

    &--toys {
      background-color: $second-darkest-color;
      display: flex;
    }
  }
}
