.footer__wrapper {
  padding-top: 25px;
  padding-bottom: 29px;
  background-color: $footer-color;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $title-color;
}
