.footer {
  background-color: $footer-color;
}

.footer__wrapper {
  padding-top: 25px;
  padding-bottom: 31px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.footer__logo {
  display: none;
  height: 34px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer__copyright {
  padding-top: 22px;
  margin-top: 28px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    border: none;
    margin-top: 0;
    padding-top: 0;
  }
}

.copyright__text {
  margin-right: 26px;
}

.copyright__link {
  height: 34px;

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.copyright__link svg {
  fill: #63d1bb;
}
