.form__section {
  margin: 0;
  padding: 0;

  border: none;

  &:nth-child(2n):not(:last-child) {
    @media (min-width: $tablet-width) {
      background-color: $footer-color;
    }
  }
}

.form__section--check .container {
  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-right: 97px;
    padding-bottom: 50px;
  }
}

.form__section--contacts {
  @media (min-width: $tablet-width) {
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 27px;
  }
}

.form__section--data .form__label-text {
  @media (min-width: $tablet-width) {
    margin: auto 0;
    margin-right: 26px;
    padding-left: 0;
  }
}

.form__section--data .container {
  padding-top: 19px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 51px;
    padding-bottom: 50px;
  }
}

.form__section--message .form__section-name {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}

.form__section--message .container {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 46px;
  }
}

.form__container {
  display: grid;
  padding-top: 17px;
  padding-bottom: 14px;

  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-bottom: 50px;

    grid-template-columns: 167px 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 225px 47px 97px;

    grid-template-columns: 130px 1fr;
  }

  &--mail {
    padding-top: 19px;
    padding-bottom: 20px;
  }
}

.form__section--contacts .form__container {
  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 24px;
  }
}

.form__section--submit .form__container {
  padding-top: 0;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    align-items: baseline;
    padding-top: 3px;
    padding-bottom: 50px;

    grid-template-columns: 230px 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
  }
}

.form__section-name {
  display: flex;
  align-items: center;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $second-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 50px;
  }
}

.form__section-name--lines {
  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    padding-left: 14px;
  }

  &::after {
    @media (max-width: $tablet-width-1) {
      content: "";

      display: block;
      flex-grow: 1;
      height: 1px;
      margin-left: 16px;

      background-color: #62d1ba;
    }
  }
}

.form__label {
  display: flex;
  align-items: center;

  line-height: 18px;
}

.form__label:hover .form__label-control {
  color: #62d1ba;

  border-color: #62d1ba;
}

.form__label:active .form__label-control {
  color: #c7c7c7;

  border-color: #c7c7c7;
}

.form__label-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__label-control {
  position: relative;

  display: block;
  margin-right: 19px;

  border: 2px solid $base-color;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-right: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }

  &--radio {
    width: 40px;
    min-width: 40px;
    height: 40px;

    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 50px;
      min-width: 50px;
      height: 50px;
    }
  }

  &--check {
    width: 38px;
    height: 38px;
    margin-right: 22px;

    @media (min-width: $tablet-width) {
      width: 52px;
      min-width: 52px;
      height: 52px;
      margin-right: 30px;
    }
  }
}

.form__input {
  width: 100%;
  padding: 11px 0;

  font-size: 19px;
  line-height: 18px;
  font-family: "Open Sans", "Geneva", sans-serif;
  color: $base-color;

  border: none;
  border-bottom: 2px solid $base-color;

  @media (min-width: $tablet-width) {
    padding: 12px 18px;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 15px;

    background-color: transparent;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border-color: #62d1ba;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Geneva", sans-serif;

    opacity: 0.3;

    @media (min-width: $tablet-width) {
      font-size: 19px;
    }
  }

  &--textarea {
    margin-top: 22px;
    padding: 15px;

    border: 2px solid $base-color;

    resize: none;

    &:hover {
      border-color: #62d1ba;
    }

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &--tel {
    padding: 11px 0 12px;

    @media (min-width: $tablet-width) {
      padding: 10px 16px 14px;
    }

    @media (min-width: $desktop-width) {
      padding: 12px 16px 14px;
    }
  }

  &--email {
    padding: 12px 0;

    @media (min-width: $tablet-width) {
      padding: 9px 18px 14px;
    }
  }
}

.form__input:hover + svg,
.form__input:focus + svg {
  opacity: 1;

  fill: #62d1ba;
}

.form__label-contacts {
  position: relative;

  margin-top: 4.5px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.form__label-contacts--tel svg {
  position: absolute;
  top: 11px;
  right: 7px;

  opacity: 0.2;

  @media (min-width: $tablet-width) {
    right: 26px;
  }

  @media (min-width: $desktop-width) {
    right: 8px;
  }
}

.form__label-contacts--mail svg {
  position: absolute;
  top: 16px;
  right: 3px;

  opacity: 0.2;

  @media (min-width: $tablet-width) {
    right: 22px;
  }

  @media (min-width: $desktop-width) {
    right: 4px;
  }
}

.form__input-control:focus + .form__label-control {
  outline: 2px solid #62d1ba;
}

.form__input-control:checked + .form__label-control--radio::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;

  display: block;
  width: 18px;
  height: 18px;

  background-color: #62d1ba;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 13px;
    left: 13px;

    width: 20px;
    height: 20px;
  }
}

.form__input-control:checked + .form__label-control--check::before,
.form__input-control:checked + .form__label-control--check::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 7px;
  left: 20px;
  width: 2px;
  height: 22px;
  transform: rotate(45deg);

  @media (min-width: $tablet-width) {
    height: 30px;
    top: 11px;
    left: 27px;
  }
}

.form__input-control:checked + .form__label-control--check::after {
  height: 10px;
  transform: rotate(-45deg);
  top: 16px;
  left: 9px;

  @media (min-width: $tablet-width) {
    height: 15px;
    top: 23px;
    left: 12px;
  }
}

.form__input-control:disabled ~ span,
.form__input-control:disabled + .form__label-control {
  color: #c7c7c7;

  border-color: #c7c7c7;

  pointer-events: none;

  &::before,
  &::after {
    background-color: #c7c7c7;
  }
}

.form__input-wrapper {
  display: grid;
  padding-top: 32px;

  gap: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 0;

    gap: 27px;
  }

  &--check {
    padding-top: 25px;

    gap: 23px;

    @media (min-width: $tablet-width) {
      padding-top: 0;

      column-gap: 20px;

      gap: 24px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      column-gap: 96px;

      grid-template-columns: repeat(3, max-content);
    }
  }

  &--data {
    padding-top: 26px;

    gap: 18px;

    @media (min-width: $tablet-width) {
      padding-top: 0;

      gap: 24px;
    }

    @media (min-width: $desktop-width) {
      gap: 26px;
    }
  }
}

.form__input-group {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-auto-flow: column;
    grid-template-columns: min-content;
  }
}

.form__hint {
  order: -1;
  margin: 0;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-left: auto;

    font-size: 17px;
    line-height: 30px;
  }
}

.form__desc {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 14px;

  font-size: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 61px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 114px 175px 0;
  }
}

.form__button {
  margin-top: 30px;

  font-size: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
