.form__section:nth-child(2n):not(:last-child) {
  @media (min-width: $tablet-width) {
    background-color: $footer-color;
  }
}

.form__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__section-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $second-color;
  text-transform: uppercase;
}

.form__label-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $title-color;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
}

.form__input::placeholder {
  font-family: "Open Sans", "Geneva", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.form__hint {
  font-size: 14px;
  line-height: 16px;
}

.form__desc {
  font-size: 13px;
}

.form__input--textarea {
  @media (min-width: $tablet-width) {
    min-width: 501px;
  }

  @media (min-width: $desktop-width) {
    min-width: 700px;
  }
}
