.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
}

.modal--open {
  display: flex;
}

.modal {
  margin: auto;
  width: 100%;
  max-width: 360px;
  background-color: $background-color;
  padding: 28px 30px 46px;
  border: 1px solid #c6c6c6;
  filter: drop-shadow(0 5px 10px rgba(0, 1, 1, 0.25));

  @media (min-width: $tablet-width) {
    padding: 38px 108px 46px;
    max-width: 566px;
  }
}

.modal__title {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__text {
  margin: 0;
  margin-top: 14px;
  text-align: center;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-top: 11px;
  }
}

.modal__form {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px 7px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.modal__radio {
  padding: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgba(68, 68, 68, 0.1);
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

input:checked + .modal__radio {
  border: 2px solid $second-color;
}

.modal__button {
  grid-column: 1/-1;
  border: none;
  background-color: $second-color;
  color: $another-title-color;
  padding: 18px;
  font-size: 17px;
  line-height: 16px;
}
