.nav {
  position: relative;

  min-height: 79px;
  padding-top: 79px;

  border-bottom: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    padding: 0;

    background-color: #f9f9f9;
    border: none;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.nav__logo {
  position: absolute;
  top: 22px;
  left: 50%;

  width: 86px;
  height: 35px;
  padding: 0;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) and (max-width: $desktop-width-1) {
    left: 48px;

    width: 114px;
    height: 46px;

    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 9px;

    width: 149px;
    height: 72px;
  }

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      outline: none;
      opacity: 0.6;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      opacity: 0.3;
    }
  }
}

.nav__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav__toggle {
  position: absolute;
  top: 29px;
  right: 31px;
  z-index: 10;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/svg/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  background-image: url("../img/svg/menu-close.svg");
}

.nav__list-container {
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  z-index: 10;

  display: none;
  padding: 0;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: static;

    display: grid;
    align-items: start;

    background-color: #f1f1f1;

    gap: 20px 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px;

    background-color: #ffffff;

    gap: 0 150px;
  }
}

.nav--opened .nav__list-container {
  display: grid;
}

.nav--page .nav__list-container {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.nav__link {
  position: relative;

  display: block;
  padding: 30px 30px 25px 75px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    min-height: 87px;
    padding: 33px 49px 30px 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 37px 30px 84px;
  }
}

.nav__link[href] {
  &:hover,
  &:focus {
    color: rgba($color: #000000, $alpha: 0.6);

    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__link svg {
  position: absolute;
  top: 50%;
  left: 30px;

  transform: translateY(-50%);

  fill: rgba($color: #000000, $alpha: 0.2);
}

.nav__link:hover svg,
.nav__link:focus svg {
  fill: #63d1bb;
}

.nav__list--catalog {
  @media (min-width: $tablet-width) {
    z-index: 1;

    display: grid;
    justify-content: start;
    order: 1;
    padding-left: 51px;

    gap: 36px;
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $desktop-width) {
    order: 0;
    padding-left: 0;

    gap: 0;
  }
}

.nav__list--catalog .nav__item:nth-child(2n) {
  @media (min-width: $desktop-width) {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}

.nav__list--catalog .nav__link {
  @media (min-width: $tablet-width) and (max-width: $desktop-width-1) {
    min-height: auto;
    padding: 0;

    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 35px 30px;
  }
}

.nav__list--user {
  @media (min-width: $tablet-width) and (max-width: $desktop-width-1) {
    justify-content: flex-end;
    padding-left: 200px;

    background-color: #ffffff;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    grid-column: 1/ -1;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
    margin-left: auto;

    border: none;
  }
}

.nav__list--user .nav__item:nth-child(2n) {
  @media (min-width: $tablet-width) {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}

.nav__list--user .nav__link--search {
  @media (min-width: $tablet-width) {
    display: flex;
    padding: 33px 41px 30px;

    border-left: 1px solid rgba(0, 0, 0, 0.1);

    place-content: center;
  }
}

.nav__link--search span {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__sale-container {
  @media (min-width: $desktop-width) {
    background-color: #f1f1f1;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}

.nav__sale-wrapper {
  position: relative;

  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 1;
    max-width: 50%;
    margin: -24px 0 0 auto;
    padding-right: 51px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 18px 51px;
  }
}

.nav__sale-text {
  margin: 0;

  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.nav__list--sale {
  display: none;

  @media (min-width: $desktop-width) {
    display: grid;

    gap: 0 62px;
    grid-template-columns: repeat(2, auto);
  }
}

.nav__list--sale .nav__link {
  @media (min-width: $desktop-width) {
    min-height: auto;
    padding: 0;

    font-size: 15px;
    line-height: 24px;
  }
}

.nojs .nav__list-container {
  @media (max-width: $tablet-width-1) {
    position: static;
  }
}

.nojs .nav__toggle {
  @media (max-width: $tablet-width-1) {
    display: none;
  }
}
