.reviews__wrapper {
  // padding: 28px 30px 45px;
  padding-top: 28px;
  padding-bottom: 45px;
}

.reviews__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
}

.reviews__item {
  display: none;

  &--active {
    display: block;
  }
}
