.reviews {
  background-image: url("../img/svg/zigzag-line-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;

  @media (min-width: $tablet-width) {
    background-image: url("../img/svg/zigzag-line-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 88px;

    background-image: url("../img/svg/zigzag-line-desktop.svg");
    background-repeat: no-repeat;
  }
}

.reviews__wrapper {
  padding-top: 15px;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-top: 79px;
    padding-bottom: 132px;

    background-image: url("../img/review@1x.png");
    background-repeat: no-repeat;

    grid-template-columns: 2fr 1fr 175px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-bottom: 96px;
    padding-left: 224px;

    background-position: 50px;
  }
}

.reviews__title {
  @media (min-width: $tablet-width) {
    margin-top: 6px;

    line-height: 46px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.reviews__desc {
  margin: 0;
  margin-top: 14px;

  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.reviews__name {
  margin: 0;
  margin-top: 33px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    margin-top: 61px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;

    font-size: 17px;
  }
}

.reviews__email {
  margin: 0;
  margin-top: 6px;

  font-size: 17px;
  line-height: 24px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    margin-top: 4px;

    line-height: 30px;
  }
}

.reviews__item {
  display: none;

  &--active {
    display: block;
  }
}

.reviews__control {
  display: grid;
  width: 100%;
  height: 52px;
  margin-top: 32px;

  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    margin-top: -54px;

    grid-column: 3/-1;
  }

  @media (min-width: $tablet-width) {
    margin-top: -56px;
  }
}

.reviews__control-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: $border-classic;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &--prev {
    border-right: none;
  }

  &--next {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button {
  order: -1;
  margin-top: 38px;
  padding: 14px 35px;

  @media (min-width: $tablet-width) {
    margin-top: 0;

    grid-column: 3/-1;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin-top: 2px;
  }
}
