.video__wrapper {
  display: grid;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;

  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin-bottom: 102px;

    grid-template-columns: 682px 1fr;
    grid-template-rows: auto 1fr;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__player {
  position: relative;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}

.video__image {
  position: relative;

  width: 100%;
  height: 150px;

  @media (min-width: $tablet-width) {
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;

    grid-row: 1 / span 2;
  }
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.video__text {
  padding: 32px 32px 33px;

  border: $border-classic;

  @media (min-width: $tablet-width) {
    padding: 0 40px 44px;

    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 57px 60px 80px;
  }
}

.video__desc {
  margin: 0;

  font-size: 13px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }
}

.video__title {
  order: -1;
  padding: 20px 13px 27px 91px;

  background-image: url("../img/svg/video.svg");
  background-repeat: no-repeat;
  background-position: top 34px left 33px;
  border: $border-classic;

  @media (min-width: $tablet-width) {
    order: 0;
    padding: 40px 107px 24px;

    background-position: top 37px left 42px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 57px 26px 80px;

    background-position: top 47px left 80px;

    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.video__button {
  width: 100%;
  margin-top: 41px;

  @media (min-width: $desktop-width) {
    margin-top: 53px;
  }
}

.video__play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 100px;
  height: 77px;
  margin: auto;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }
}
