.video__wrapper {
  display: grid;
  border: 1px solid #ececec;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    gap: 17px 59px;
    grid-template-columns: 683px 1fr;
    grid-template-rows: auto 1fr;
  }
}

.video__player {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}

.video__image {
  position: relative;

  height: 150px;

  @media (min-width: $tablet-width) {
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 453px;

    grid-row: 1 / span 2;
  }
}

.video__text {
  margin-left: 34px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 53px;
  }
}

.video__desc {
  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

.video__title {
  order: -1;

  @media (min-width: $tablet-width) {
    order: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 53px;
  }
}
