.video__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 682px 1fr;
    grid-template-rows: auto 1fr;
    max-width: none;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__player {
  position: relative;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}

.video__image {
  position: relative;
  width: 100%;
  height: 150px;

  @media (min-width: $tablet-width) {
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;

    grid-row: 1 / span 2;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.video__text {
  padding: 35px 32px 33px;
  border: $border-classic;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0 42px 46px 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 57px 60px 80px;
  }
}

.video__desc {
  margin: 0;
  font-size: 13px;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    font-size: 15px;
  }
}

.video__title {
  order: -1;
  padding: 22px 13px 27px 91px;
  background-image: url("../img/svg/video.svg");
  background-repeat: no-repeat;
  background-position: top 35px left 34px;
  border: $border-classic;

  @media (min-width: $tablet-width) {
    order: 0;
    border-bottom: none;
    padding: 41px 107px 25px;
    background-position: top 39px left 42px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 96px 57px 28px 80px;
    background-position: top 47px left 80px;
  }
}

.video__button {
  width: 100%;
  margin-top: 41px;

  @media (min-width: $desktop-width) {
    margin-top: 49px;
  }
}

.video__play svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.video__play:hover svg {
  transform: scale(1.2);
}

.video__play:active svg {
  transform: scale(0.8);
  opacity: 0.7;
}
