*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", "Geneva", sans-serif;
  color: $base-color;

  background-color: $background-color;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}
