//mixins
@import "global/mixins";

//global
@import "global/fonts";
@import "global/variables";
@import "global/global";
@import "global/utils";

//blocks
@import "blocks/container";
@import "blocks/title";
@import "blocks/first-screen";
@import "blocks/nav";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/catalog";
@import "blocks/catalog-title";
@import "blocks/video";
@import "blocks/form";
@import "blocks/copyright";
